<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ "Información Academica" | translate | async }}</ion-title>
    <div slot="secondary">
      <ion-grid class="ion-padding">
        <ion-row>
          <ion-col>
            <img
              (click)="ponerIdioma('es')"
              src="../../assets/es.png"
              class="mr-2"
              alt="Español"
            />
          </ion-col>
          <ion-col>
            <img
              (click)="ponerIdioma('en')"
              src="../../assets/en.png"
              class="mr-2"
              alt="English"
            />
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div slot="end">
      <ion-grid class="ion-padding">
        <ion-row>
          <ion-col>
            <ion-icon
              name="return-down-back-outline"
              (click)="go('persona')"
              size="large"
            ></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-toast
    [isOpen]="isToastOpen"
    message="Se Guardo Correctamente"
    [duration]="2000"
    (didDismiss)="setOpen(false)"
  ></ion-toast>

  <form
    [formGroup]="ionicForm"
    (ngSubmit)="guardar(ionicForm.value)"
    novalidate
  >
    <ion-row>

      <ion-input
        fill="outline"
        formControlName="nivel_academico"
        shape="round"
        label="{{ 'Nivel Academico' | translate | async }}:"
        type="text"
        labelPlacement="floating"
      >
      </ion-input>
    </ion-row>

    <ion-row>
      <ion-input
        fill="outline"
        formControlName="institucion"
        shape="round"
        label="{{ 'institucion' | translate | async }}:"
        type="text"
        labelPlacement="floating"
      >
      </ion-input>
    </ion-row>


    <ion-row>
        <ion-input
          fill="outline"
          formControlName="titulo_obtenido"
          shape="round"
          label="{{ 'titulo_obtenido' | translate | async }}:"
          type="text"
          labelPlacement="floating"
        >
        </ion-input>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input
          fill="outline"
          formControlName="fecha_inicio"
          shape="round"
          label="{{ 'Fecha Inicio' | translate | async }}:"
          type="text"
          labelPlacement="floating"
        >
        </ion-input>
      </ion-col>
      <ion-col>
        <ion-input
          fill="outline"
          formControlName="fecha_fin"
          shape="round"
          label="{{ 'Fecha Fin' | translate | async }}:"
          labelPlacement="floating"
        ></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>

        <ion-input
          fill="outline"
          formControlName="pais"
          shape="round"
          label="{{ 'Pais' | translate | async }}:"
          type="text"
          labelPlacement="floating"
        >
        </ion-input>

    </ion-row>

    <ion-row>
      <ion-icon (click)="nuevo()" size="large" name="add-outline"></ion-icon>
    </ion-row>
    <ion-row class="ion-justify-content-center">

      <ion-button
        type="submit"
        class="btn btn-primary ml-2"
        [disabled]="!ionicForm.valid"
        >Guardar</ion-button
      >
    </ion-row>
  </form>
  <ion-grid>
    <ion-row class="ion-justify-content-center" >
      {{ "Lista estudios" | translate | async }}
    </ion-row>

    <ion-row>
      <ion-col> No. </ion-col>
      <ion-col> Universidad </ion-col>
      <ion-col> Titulo </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <ion-row *ngFor="let item of estudios; let indice = index">
      <ion-col><ion-icon  (click)="editar(item)" name="create-outline" color="primary"></ion-icon> <a (click)="setPosicion(indice)"> {{ indice +1 }}</a> </ion-col>
      <ion-col> <a (click)="setPosicion(indice)">{{ item.institucion }} </a></ion-col>
      <ion-col> <a (click)="setPosicion(indice)">{{ item.titulo_obtenido }} </a></ion-col>
      <ion-col>


        <ion-icon (click)="eliminar()" name="trash-outline"></ion-icon>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
