<ion-header>
  <ion-toolbar>
    <ion-title>ABC jobs</ion-title>

    <div  slot="secondary">
      <ion-grid class="ion-padding">
        <ion-row>
          <ion-col>
              <img (click)="ponerIdioma('es')" src="../../assets/es.png" class="mr-2" alt="Español"/>
          </ion-col>
          <ion-col>
              <img (click)="ponerIdioma('en')" src="../../assets/en.png" class="mr-2" alt="English"/>
          </ion-col>
        </ion-row>
      </ion-grid>
   </div>



  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <ion-toast
  [isOpen]="isToastOpen"
  message= {{mensajeEmergente}}
  [duration]="2000"
  (didDismiss)="setOpen(false)"
  color = danger
></ion-toast>


  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>{{ 'Bienvenido a ABC JOBS' | translate | async }}</ion-card-title>
      <ion-card-subtitle>{{ 'Ingreso al sistema' | translate | async }}</ion-card-subtitle>
    </ion-card-header>

  </ion-card>


  <form [formGroup]="miformulario" (ngSubmit)="ingresar()" novalidate>

    <ion-row>
      <ion-col>
        <ion-item>

          <ion-select formControlName="role" label="{{ 'Tipo de usuario' | translate | async }}" [(ngModel)]="tipo" placeholder="{{ 'Seleccione' | translate | async }}">
            <ion-select-option value="Company">{{ 'Empresa' | translate | async }}</ion-select-option>
            <ion-select-option value="Candidate">{{ 'Candidato' | translate | async }}</ion-select-option>
            <ion-select-option value="Admin">{{ 'Funcionario ABC' | translate | async }}</ion-select-option>
          </ion-select>

        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>

          <ion-input label="Email" type="text" formControlName="nombre"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>

          <ion-input label="{{ 'Contraseña' | translate | async }}" type="password" formControlName="clave"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block"
          >{{ 'LogIn' | translate | async }}</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
  <a (click)="nuevo()" class="small-text">Sin usuario? Click aqui</a>

  <ion-icon (click)="nuevo()" size="large" name="person-add-outline"></ion-icon>

</ion-content>




