<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ "Programar Desempeño" | translate | async }}</ion-title>
    <div slot="secondary">
      <ion-grid class="ion-padding">
        <ion-row>
          <ion-col>
            <img (click)="ponerIdioma('es')" src="../../assets/es.png" class="mr-2" alt="Español" />
          </ion-col>
          <ion-col>
            <img (click)="ponerIdioma('en')" src="../../assets/en.png" class="mr-2" alt="English" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div slot="end">
      <ion-grid class="ion-padding">
        <ion-row>
          <ion-col>
            <ion-icon size="large" name="return-down-back-outline" (click)="go('empresa')"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-toast [isOpen]="isToastOpen" message="Se Guardo Correctamente" [duration]="2000"
    (didDismiss)="setOpen(false)"></ion-toast>

  <form role="form" [formGroup]="ionicForm" (ngSubmit)="guardar()" novalidate>
    <ion-grid>


      <ion-row><label justify="center" for="rol">{{ "Ofertas Vigentes" | translate | async }}:</label>
      </ion-row>



        <ion-list>
          <ion-item>
            <ion-select shape="round" justify="start" fill="outline" id="rol" formControlName="id_offer" aria-label="Ofertas" placeholder="{{ 'Seleccione una oferta' | translate | async }} " [multiple]="false">
              <ion-select-option   *ngFor="let name of ofertas" [value]="name.offer_id">  {{ name.description| translate | async }}</ion-select-option>

            </ion-select>
          </ion-item>
        </ion-list>


        <ion-list>
          <ion-item>
            <ion-select shape="round" justify="start" fill="outline" id="candidatos" formControlName="id_candidate" aria-label="candidato" placeholder="{{ 'Seleccione un candidato' | translate | async }} " [multiple]="false">
              <ion-select-option   *ngFor="let elegido of candidates" [value]="elegido.pre_interview.id_candidate">  {{elegido.candidate.Nombre+" "+elegido.candidate.apellido }}</ion-select-option>

            </ion-select>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-select shape="round" justify="start" fill="outline" id="candidatos" formControlName="id_examen" aria-label="candidato" placeholder="{{ 'Seleccione un Examen' | translate | async }} " [multiple]="false">
              <ion-select-option   *ngFor="let elegido of examenes" [value]="elegido.assignment_id">  {{elegido.focus }}</ion-select-option>

            </ion-select>
          </ion-item>
        </ion-list>




      <ion-row>
        <ion-button type="button" class="btn btn-danger ml-2" (click)="goBack()">Cerrar</ion-button>
        <ion-button type="submit" class="btn btn-primary ml-2" [disabled]="!ionicForm.valid">Guardar</ion-button>
      </ion-row>




    </ion-grid>
  </form>

</ion-content>

